<div class=post-author>
  <figure class="author-picture">
    <img src="/img/author/normandes.jpg" alt="Normandes Junior" 
      title="Normandes Junior" style="border-radius: 50%">
  </figure>
  <div class="author-name">
    <h1>Normandes Junior</h1>
  </div>
  <div class="author-description">
    <p>Fundador da HibiCode, líder técnico e desenvolvedor de software na 
      <a href="http://www.softbox.com.br/" target="_blank">SoftBox</a>. 
      Formado em Engenharia de Computação, possui as certificações SCJP, SCWCD e LPIC-1.
      Já contribuiu para softwares Open Source na área de telecomunicações, e palestrou
      em diversos eventos, inclusive no JavaOne em San Francisco.
    </p>
  </div>
</div>